<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="currency">
            <directory>tests/Currency</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="transaction">
            <directory>tests/Transactions</directory>
        </testsuite>
    </testsuites>
</phpunit>